<div class="navbar-jumbotron header navbar-fixed-top">
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container" style="position: relative;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed navbar-menu" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-logo hidden-xs" href="javascript:;"><img src="https://assets.jiangwoo.com/logo-beta-white.png-logo" alt="Prometheus logo">现代设计 x 传统工艺</a>
        </div>
        <div class="navbar-phone visible-xs">匠物<a href="javascript:;" class="navbar-user"><i class="fa fa-user"></i></a></div>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right main-nav">
            <li><a href="javascript:;"><i class="fa fa-search"></i></a></li>
            <li ui-sref="shop" ui-sref-active="on"><a href="javascript:;">商城</a></li>
            <li ui-sref="spaces" ui-sref-active="on"><a href="javascript:;">空间</a></li>
            <li ui-sref="blog" ui-sref-active="on"><a href="javascript:;">故事</a></li>
            <li><a href="javascript:;" login-user >登录</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
      